*{
    overflow-wrap: break-word;
}

.nav-divs{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.luo{
    display: flex;
}

.pages{
    display: flex;
    gap:50px;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social-icons {
display: flex;
gap: 20px; /* 图标之间的间隔 */
}

.github-icon {
font-size: 30px; /* 设置图标大小 */
color: #24292F; /* 默认颜色 */
text-decoration: none; /* 去掉链接下划线 */
transition: color 0.3s ease; /* 添加过渡效果 */
}

.discord-icon {
font-size: 30px; /* 设置图标大小 */
color: #5865F2; /* 默认颜色 */
text-decoration: none; /* 去掉链接下划线 */
transition: color 0.3s ease; /* 添加过渡效果 */
}

.youtube-icon {
font-size: 30px; /* 设置图标大小 */
color: #FF0000; /* 默认颜色 */
text-decoration: none; /* 去掉链接下划线 */
transition: color 0.3s ease; /* 添加过渡效果 */
}

.linkedin-icon {
font-size: 30px; /* 设置图标大小 */
color: #0077B5; /* 默认颜色 */
text-decoration: none; /* 去掉链接下划线 */
transition: color 0.3s ease; /* 添加过渡效果 */
}

.whatsapp-icon {
    font-size: 30px; /* 设置图标大小 */
    color: #25D366; /* 默认颜色 */
    text-decoration: none; /* 去掉链接下划线 */
    transition: color 0.3s ease; /* 添加过渡效果 */
    }

button{
    cursor: pointer;
}
button:hover{
transform: scale(1.05);
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 25%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "nav nav nav nav"
        "header header header aside"
        "main main main aside"
        "footer footer footer footer";
    height: 100vh;
}

nav {
    background-color: orange;
    color: black;
    padding: 10px;
    grid-area: nav; 
}

header {
    background-color: teal;
    color: black;
    padding: 20px;
    grid-area: header; 
}

main {
    background-color: palevioletred;
    color: black;
    padding: 20px;
    grid-area: main; 
}

aside {
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    grid-area: aside; 
}

footer {
    background-color: skyblue;
    color: black;
    padding: 10px;
    grid-area: footer;
}



